@page
<div class="mainContainer">
    <div class="board" id="board">
        <div class="exchangeContainer" id="exchangeContainer">
            <div class="hideVariants" id="hideVariants">
                <p class="arrow" id="arrow">&#x2BC7;</p>
            </div>
            <div class="exchangeVariants show" id="exchangeVariants">
                <div class="figureImg">
                </div>
                <div class="figureImg">
                </div>
                <div class="figureImg">
                </div>
                <div class="figureImg">
                </div>
            </div>
        </div>
        <div class="numbers" id="numbers">
            <p>8</p>
            <p>7</p>
            <p>6</p>
            <p>5</p>
            <p>4</p>
            <p>3</p>
            <p>2</p>
            <p>1</p>
        </div>
        <div class="centralBoard" id="centralBoard">
            <div class="boardLine">
                <div id="0" name="a8" class="white">
                </div>
                <div id="1" name="b8" class="black">
                </div>
                <div id="2" name="c8" class="white">
                </div>
                <div id="3" name="d8" class="black">
                </div>
                <div id="4" name="e8" class="white">
                </div>
                <div id="5" name="f8" class="black">
                </div>
                <div id="6" name="g8" class="white">
                </div>
                <div id="7" name="h8" class="black">
                </div>
            </div>
            <div class="boardLine">
                <div id="10" name="a7" class="black">
                </div>
                <div id="11" name="b7" class="white">
                </div>
                <div id="12" name="c7" class="black">
                </div>
                <div id="13" name="d7" class="white">
                </div>
                <div id="14" name="e7" class="black">
                </div>
                <div id="15" name="f7" class="white">
                </div>
                <div id="16" name="g7" class="black">
                </div>
                <div id="17" name="h7" class="white">
                </div>
            </div>
            <div class="boardLine">
                <div id="20" name="a6" class="white">
                </div>
                <div id="21" name="b6" class="black">
                </div>
                <div id="22" name="c6" class="white">
                </div>
                <div id="23" name="d6" class="black">
                </div>
                <div id="24" name="e6" class="white">
                </div>
                <div id="25" name="f6" class="black">
                </div>
                <div id="26" name="g6" class="white">
                </div>
                <div id="27" name="h6" class="black">
                </div>
            </div>
            <div class="boardLine">
                <div id="30" name="a5" class="black">
                </div>
                <div id="31" name="b5" class="white">
                </div>
                <div id="32" name="c5" class="black">
                </div>
                <div id="33" name="d5" class="white">
                </div>
                <div id="34" name="e5" class="black">
                </div>
                <div id="35" name="f5" class="white">
                </div>
                <div id="36" name="g5" class="black">
                </div>
                <div id="37" name="h5" class="white">
                </div>
            </div>
            <div class="boardLine">
                <div id="40" name="a4" class="white">
                </div>
                <div id="41" name="b4" class="black">
                </div>
                <div id="42" name="c4" class="white">
                </div>
                <div id="43" name="d4" class="black">
                </div>
                <div id="44" name="e4" class="white">
                </div>
                <div id="45" name="f4" class="black">
                </div>
                <div id="46" name="g4" class="white">
                </div>
                <div id="47" name="h4" class="black">
                </div>
            </div>
            <div class="boardLine">
                <div id="50" name="a3" class="black">
                </div>
                <div id="51" name="b3" class="white">
                </div>
                <div id="52" name="c3" class="black">
                </div>
                <div id="53" name="d3" class="white">
                </div>
                <div id="54" name="e3" class="black">
                </div>
                <div id="55" name="f3" class="white">
                </div>
                <div id="56" name="g3" class="black">
                </div>
                <div id="57" name="h3" class="white">
                </div>
            </div>
            <div class="boardLine">
                <div id="60" name="a2" class="white">
                </div>
                <div id="61" name="b2" class="black">
                </div>
                <div id="62" name="c2" class="white">
                </div>
                <div id="63" name="d2" class="black">
                </div>
                <div id="64" name="e2" class="white">
                </div>
                <div id="65" name="f2" class="black">
                </div>
                <div id="66" name="g2" class="white">
                </div>
                <div id="67" name="h2" class="black">
                </div>
            </div>
            <div class="boardLine">
                <div id="70" name="a1" class="black">
                </div>
                <div id="71" name="b1" class="white">
                </div>
                <div id="72" name="c1" class="black">
                </div>
                <div id="73" name="d1" class="white">
                </div>
                <div id="74" name="e1" class="black">
                </div>
                <div id="75" name="f1" class="white">
                </div>
                <div id="76" name="g1" class="black">
                </div>
                <div id="77" name="h1" class="white">
                </div>
            </div>
        </div>
        <div class="letters">
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
            <p>F</p>
            <p>G</p>
            <p>H</p>
        </div>
    </div>
    
    <div class="roomsContainer" id="roomsContainer">
        
        <div class="roomManipulate" id="roomManipulate">
            <input class="createButton show" id="createRoomButton" type="button" value="Створити кімнату" />
            <input class="deleteButton" id="deleteRoomButton" type="button" value="Видалити кімнату" />
            <input class="settingsButton show" id="setRoomSettings" type="button" value="Налаштування &#9881;" />
            <div class="chessStyles show" id="chessStyles">
                <div class="stylesButton" id="stylesButton">
                    <img src="~/content/images/others/palette.png" alt="Styles" />
                </div>
                <div class="stylesSelectors" id="stylesSelectors">
                    <div class="pickStyleDiv">
                        <p>Кольорова палітра:</p>
                        <select id="colorPalette">
                            <option value="0">Classic</option>
                            <option value="1">Gray</option>
                            <option value="2">Blue</option>
                            <option value="3">Pink</option>
                            <option value="4">Orange</option>
                            <option value="5">Green</option>
                        </select>
                    </div>
                    <div class="pickStyleDiv">
                        <p>Стиль дошки:</p>
                        <select id="boardStyles">
                            <option value="0">Classic</option>
                            <option value="1">Stone</option>
                            <option value="2">Gray</option>
                            <option value="3">Violet</option>
                            <option value="4">Standart</option>
                            <option value="5">Green</option>
                        </select>
                    </div>
                    <div class="pickStyleDiv">
                        <p>Стиль фігур:</p>
                        <select id="figureStyles">
                            <option value="0">Hamon</option>
                            <option value="1">Fake3d</option>
                            <option value="2">Leipzig</option>
                            <option value="3">Alpha</option>
                        </select>
                    </div>
                    <input class="acceptStylesButton" id="acceptStylesButton" type="button" value="Застосувати" />
                </div>
            </div>
        </div>

        <div class="settingsContainer" id="settingsContainer">
            <p>Контроль часу: </p>
            <select id="timeControl">
                <option value="0">Бліц</option>
                <option value="1">Рапід</option>
            </select>
            <div class="question" id="questionButton" onclick="alert('Кожний гравець отримує:\n'+
                                                                         'Бліц - 5 хвилин на гру; \nРапід - 15 хвилин на гру.')">&#63;</div>

        </div>

        <h5>Доступні кімнати:</h5>
        <div id="availableRooms" class="availableRooms">
            <ul class="roomUl" id="roomList" />
        </div>
    </div>
    <div class="gameInfo" id="gameInfo">
        <div class="gameTimer" id="gameTimer">
            <p class="timer" id="timer"></p>
            <p class="turnInfo" id="turnInfo"></p>
        </div>
        <div id="notationsDiv" class="notations">
            <p id="notations"></p>
        </div>
        <div class="gameActions" id="gameActions">
            <input type="button" class="giveUpButton show" id="giveUpButton" value="Здатися" />
            <input type="button" class="drawButton show" id="drawButton" value="Запропонувати нічию" />
            <input type="button" class="refreshGameButton" id="refreshGameButton" value="Грати ще &#8635;" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chess.js"></script>
